[Desktop Entry]
Type=Application
Name=Ventoy
GenericName=Bootable USB creator
Comment=Create a multiboot USB drive
Exec=ventoy
Icon=drive-removable-media
Terminal=false
Categories=Utility;
StartupNotify=true
